<!DOCTYPE html>
<html>
 
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html">
		<meta content="width=device-width, initial-scale=1,user-scalable=no" name="viewport" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<title>搜索联动</title>
		<link rel="stylesheet" href="../css/common.css" />
		<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<!--<link rel="stylesheet" href="../css/components.min.css" />
		<link rel="stylesheet" href="../css/layout.min.css" />-->
 
		<style>
			[v-cloak] {
				display: none;
			}
			
			.hintsbox-mark {
				position: relative;
			}
			
			.hintsbox-mark input{
				width: 250px;
			}
			
			.hintsbox {
				width: 250px;
				border: 1px solid #ddd;
			}
			
			.hintslist .hint {
				padding: 4px 2px;
			}
			
			.hintslist .hint:hover {
				background-color: #DDD8E5;
				cursor: pointer;
			}
			
			.hintslist .hint.active {
				background-color: #DDD8E5;
			}
		</style>
	</head>
 
	<body>
		<div id="app">
			<div class="container">
				
				<h2>搜索框候选常用DEMO:</h2>
				<h3>Author：夏尔 ,Date:2017-12-29</h3>
				<a href="http://4xiaer.com">转载请注明出处</a>
				
				<div class="row margin-top-30">
					<div class="form-group">
						<label class="control-label">输入框：</label>
						<div class="hintsbox-mark">
							<input type="text" class="form-control" v-model="keyword" v-on:keyup="whenInput($event)" ref="keyword" v-on:blur="closeHintsBox()" />
							
							<div class="hintsbox" v-if="showHintsBox">
								<ul class="hintslist">
									<li v-for="(item,index) in hints" ref="hint" class="hint" v-on:click="fillInput(index)" v-cloak>{{item}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</body>
 
	<!--<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>-->
	<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="./vue.js"></script>
 
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				keyword: "",
				timer: null,
				hints: [],
				showHintsBox: false,
				activeNo: -1
			},
			methods: {
 
				//用户输入的时候
				whenInput: function($event) {
 
					//console.log($event);
					var len = this.hints.length;
 
					//Down键事件
					if($event.keyCode == 40) {
 
						//划到最后一项的时候
						if(this.activeNo >= len - 1) {
							console.log("到底了");
							return;
						}
 
						this.activeNo++;
						return;
					}
 
					//Up键事件
					if($event.keyCode == 38) {
 
						if(this.activeNo <= 0) {
							console.log("到顶了");
							return;
						}
 
						this.activeNo--;
						return;
					}
 
					//按Enter键
					if($event.keyCode == 13) {
						this.fillInput(this.activeNo);
					}
 
					if(!this.keyword) {
						this.closeHintsBox();
						return;
					}
 
					if($event.keyCode !== 38 && $event.keyCode !== 40 && $event.keyCode !== 13) {
						this.getHintsList();
					}
 
					//当使用v-model绑定输入框的时候，不必要采用定时器的优化方法，因为只有当输入完成之后keyword才会有值
					//clearTimeout(this.timer);
					//					
					//this.timer=setTimeout(function(){
					//						
					//app.getHintsList();
					//						
					//},250);
				},
 
				//获取候选列表
				getHintsList: function() {
					console.log("发起查询请求");
					var arr = ["选项1", "选项2", "选项3", "选项4"]; //模拟后台返回的数据
 
					this.hints = arr;
					this.showHintsBox = true;
				},
 
				//依据hints数组下标值填充输入框
				fillInput: function(index) {
					this.keyword = this.hints[index];
					this.closeHintsBox();
				},
 
				//关闭候选框
				closeHintsBox: function() {
					setTimeout(function() {
						app.hints = [];
						app.showHintsBox = false;
						app.activeNo = -1;
					}, 80)
				}
			},
			watch: {
				activeNo: function(val, oldVal) {
					//console.log(val);
					if(val != -1) {
						//这里可以替换成你想要执行的任意事件
						for(var i = 0; i < this.hints.length; i++) {
							this.$refs.hint[i].style.backgroundColor = "#fff";
						}
						this.$refs.hint[val].style.backgroundColor = "#DDD8E5";
					}
				}
			}
		})
	</script>
 
</html>
